[*.cs]

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none
csharp_indent_labels = one_less_than_current
csharp_space_around_binary_operators = before_and_after

[*.{cs,vb}]
end_of_line = crlf
indent_size = 4
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4